/* 代表在html內的所有指令<>，都會產生一個框線框起來 */
*{
    /* 產生框線，為實心線條，粗細為2px，綠色 */
    
    /* 產生框線，為實心線條，粗細為2px，綠色 */
    /* border: 2px solid rgb(240, 173, 161); */
}
/* 整個視窗畫面設定 */
html,body{
    /* 設定背景色為橘色 */
    background-color: rgb(158, 32, 32);
    /* 設定視窗高度為100% */
    height: 100%;
    /* 設定視窗寬度為100% */
    width: 100%;
    /* 把.box至於視窗上下左右的中間 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
.box{
    background-color: rgb(255, 255, 255);
    /* 設定寬度380px，置中在視窗中間 */
    width: 380px;
    margin: 0 auto;
}
.top{
    /* 連接一個網頁圖片當作top背景圖 */
    background-image: url(https://pic.pimg.tw/sidney6811/1529508979-1559019819_n.jpg);
    /* .top的高設定為330px，背景圖充滿整個.top */
    height: 330px;
    background-size: cover;
    /* 把h2的文字置於.top的下方，且文字靠左 */
    display: flex;
    align-items: flex-end;
}

.top h2{
    /* 設定文字顏色為白色 */
    color: white;
    /* 距離下方外距為20px，距離左方外距為10px */
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 1px;
    width: 100%;
    /* 產生一個背景顏色為黑色，透明度為0.3，由下而上漸層 */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}
.top h2.smallText{
    font-size: 14px;
    /* 字距設定為1px */
    letter-spacing: 1px;
    
}
.circle{
    width: 50px;
    height: 50px;
    background-color:  #cb7e99;
}
ul{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
    font-size: 14px;

}
li{
    font-size: 14px;
    margin-bottom: 5px;
}
